.container {
    flex-direction: column;/*竖向排列*/
    width: 454px;
    height: 454px;
    justify-content: center;
    align-items: center;
}
.scores {
    width: 300px;
    height: 20px;
    letter-spacing: 0px;/*字体间的间隔*/
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.canvas{
    width: 305px;
    height: 305px;
    background-color: #BBADA0;
    margin-top: 10px;
}
.btn{
    width: 150px;
    height: 30px;
    background-color: #AD9D8F;
    font-size: 24px;
    margin-top: 10px;
    /*这里不需要设置居中显示，因为默认就是居中*/
}
